<%= form_for(@class_time) do |f| %>
  <% if @class_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class_time.errors.count, "error") %> prohibited this class_time from being saved:</h2>

      <ul>
      <% @class_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br>
    <%= f.number_field :class_id %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
