<h1>Class Times</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Class</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @class_times.each do |class_time| %>
      <tr>
        <td><%= class_time.user_id %></td>
        <td><%= class_time.class_id %></td>
        <td><%= class_time.time %></td>
        <td><%= link_to 'Show', class_time %></td>
        <td><%= link_to 'Edit', edit_class_time_path(class_time) %></td>
        <td><%= link_to 'Destroy', class_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class time', new_class_time_path %>
